[2013-12-16 03:31] meltzerj opened #1 "Library drops events that are emitted close in time to one another"
Because the `push` function has a setTimeout, if a bunch of messages are queued, the `data` variable will get overridden.

Even if you wrap the setTimeout inside of a self invoking function and locally scope the `data` variable, I'm still getting some messages dropped. Could this be that we need to wait for the image's request to receive a response before sending the next message?

[2013-12-16 03:37] #1 closed, assigned to nobody

[2014-04-30 07:05] omouse opened #2 "sending tags?"
is there a way to attach a tag to the "push"? or do I do that manually by filtering on fields in the JSON objects I'm logging?

[2014-09-02 22:17] bradschafer opened #3 "Image Warnings..."
I am getting a lot of image warnings in Chrome...

Resource interpreted as Image but transferred with MIME type text/html: "http://logs-01.loggly.com/inputs/d62c2db7-48fa-4105-a0ca.....

It seems we're requesting an image but getting back text/html...

[2014-09-23 17:15] ppcano opened #4 "Bower deployment"
would it be possible that the library can be deployed with bower?

[2015-01-08 14:20] ppcano commented on #4
@psquickitjayant ping.

May the `bower.json` file be added to the repository including the current `loggly-jslogger` version.

[2015-01-08 15:41] psquickitjayant commented on #4
@ppcano  Sure, I will add it.

[2015-01-09 00:33] psquickitjayant commented on #2
It looks like tag support has been implemented in the latest update.

[2015-02-25 08:35] barlindhaug commented on #4
You need to git tag your releases to get a versioned bower dependency.

Right now I have to use

    "loggly-jslogger": "*"

instead of
    "loggly-jslogger": "1.1.0"

[2015-03-02 03:33] kellycampbell commented on #3
I get these warnings even if I don't set the tag. It uses the default tag of 'jslogger'.

[2015-03-15 12:27] Malkiz opened #15 "send bulk events"
I would like to use this library to send bulk events to Loggly.
I tried changing the URL to /bulk/ instead of /inputs/ but it returns a server error.

[2015-04-06 22:30] JordanPotter commented on #2
Seems tag support was removed. Really looking forward to support for this feature!

[2015-04-28 00:16] davidcai commented on #3
I changed the URL to https://logs-01.loggly.com/inputs/token/.gif?PLAINTEXT=..., but I still get the warnings.

[2015-04-28 05:34] psquickitjayant commented on #3
@kellycampbell  could you please share your script, it looks like that you are using older version of the script as current script does not use any tag

[2015-04-28 05:36] psquickitjayant commented on #3
@davidcai  I have tested with the latest script. It does not show any image warnings.

[2015-06-12 23:40] boneskull commented on #2
:+1:

[2015-06-14 08:20] psquickitjayant commented on #2
Hoping @mostlyjason  we will get tag support soon.

[2015-06-15 06:52] pbojinov commented on #2
looks like tag support was removed in https://github.com/loggly/loggly-jslogger/commit/ffe2b403530ffb6260174d591f99624815273b1e

[2015-07-14 01:56] dandv opened #19 "Filter out types of errors"
Is there a way to filter out errors, such as those generated by browser extensions installed by the user, or thrown by 3rd-party libraries?

AirBrake has this feature: https://github.com/airbrake/airbrake-js#filtering-errors

[2015-07-14 02:05] dandv opened #20 "FYI: loggly blocked by default by ad blockers"
https://easylist-downloads.adblockplus.org/easyprivacy.txt

![image](https://cloud.githubusercontent.com/assets/33569/8665063/6913e3be-2994-11e5-9c2a-885845a785f3.png)

![loggly blocked by ad blockers](https://cloud.githubusercontent.com/assets/33569/8664867/223698c6-2992-11e5-9bc8-8c457f5cd0fe.png)

[2015-07-14 02:13] dandv opened #21 "Is the JS logger on npm?"
https://www.npmjs.com/search?q=Loggly shows too many results. If the jslogger is on npm, a link in the README would be great.

[2015-07-14 02:15] dandv commented on #21
Given the lack of releases in this repo, I guess the answer is "no".

[2015-07-14 03:10] dandv commented on #20
A solution to this would be supporting an option to specify the URL of the "Loggly" host, so that we can proxy requests through our own server.

[2015-07-14 04:44] dandv commented on #20
Studies done by Adobe and others estimated that 40% (forty percent) of users 18-29 use Ad Blocking, and the percentage grew by 70% between June 2013 and June 14. http://blog.pagefair.com/2014/adblocking-report/. The study was done in 2014.

What is Loggly's solution to this?

[2015-07-14 05:40] dandv opened #22 "More precise information about JS errors in 3rd party code - possible?"
I have an error in a 3rd party library, that looks like this in Chrome:

![image](https://cloud.githubusercontent.com/assets/33569/8667111/a8cff2a2-29af-11e5-9b81-299f068c93f3.png)

In Loggly it looks like this:

![image](https://cloud.githubusercontent.com/assets/33569/8667120/eb7bf07e-29af-11e5-98d7-d4fbfa73ab48.png)

Not exactly useful.

Is this possible? [LogEntries doesn't seem to be able to

[2015-07-14 06:15] dandv opened #23 "Document logglyCollectorDomain"
Would help alleviate #20 if the developer wants to set up a proxy.

[2015-07-14 06:41] dandv commented on #22
`window.onerror` doesn't return that information, so I guess it's not possible.

[2015-07-14 10:14] dandv commented on #22
Apparently `window.onerror` doesn't return that information, unless [CORS is set up properly](https://bugsnag.com/blog/script-error), which wasn't the case in my setup, judging by the fact that a naive `onerror` handler gets "Script error" and 0.

Yet there must be a way to do this because Rollbar manages to somehow get file and line information:

![image](https://cloud.githubusercontent.com/asset

[2015-07-14 23:43] dandv commented on #23
I've added an entry to LogEntries' wiki about using a proxy: https://github.com/logentries/le_js/wiki/API#ad-blockers

[2015-07-16 05:34] dandv opened #24 "Stack trace features?"
Any plans for this? Nothing fancy like TrackJS's telemetry, but at least backtraces like the ones provided by Rollbar, Airbrake, or GetSentry.

[2015-07-20 17:04] mostlyjason commented on #24
sendConsoleErrors value to true will send all the unhandled errors to the Loggly. Does this match what you're looking for?

[2015-07-20 17:07] mostlyjason commented on #21
We actually have node-specific libraries including node-loggly and winston-loggly https://www.loggly.com/docs/nodejs-logs/

[2015-07-20 17:12] mostlyjason commented on #20
Thanks for raising this issue! Let me check with the team and follow up here.

[2015-07-20 17:13] mostlyjason commented on #19
Feel free to submit a pull request!

[2015-07-20 17:17] mostlyjason commented on #22
Interesting, any idea how Rollbar does this? Seems like a useful addition.

[2015-07-20 17:18] mostlyjason commented on #23
@psquickitjayant can you add this in?

[2015-07-20 19:37] dandv commented on #21
Maybe on Bower then?

http://bower.io/search/?q=loggly

[2015-07-20 19:38] dandv commented on #21
Thought http://stackoverflow.com/questions/18641899/what-is-the-difference-between-bower-and-npm/31219726#31219726

[2015-07-20 19:46] dandv commented on #22
They've [shared](https://github.com/rollbar/rollbar.js/issues/108) :)

[2015-07-22 17:13] psquickitjayant commented on #24
@dandv  Try setting

[code]

You should be able to send stacktraces to Loggly.

[2015-07-23 10:50] psquickitjayant commented on #2
Added option in #25

[2015-07-23 10:50] psquickitjayant commented on #3
Try #25

[2015-07-23 10:52] psquickitjayant commented on #4
@barlindhaug  if you see latest package, it has the version.

[2015-07-23 11:04] psquickitjayant commented on #21
@dandv  You can find jslogger on bower, As mentioned by @mostlyjason  node has a separate library for the loggly https://www.loggly.com/docs/nodejs-logs/

[2015-07-23 11:06] psquickitjayant commented on #22
@dandv  try to test this one after hosting your webpage on a server. It gives the script error when you runs the webpage from filesystem as browser does not allow your script to read the actual error message.

[2015-07-23 16:27] psquickitjayant commented on #23
@mostlyjason  done!

[2015-07-23 21:20] mostlyjason commented on #15
The bulk endpoint requires a POST request. Also it requires line-separated events. This is possible, but would require more coding.

[2015-07-23 21:23] mostlyjason commented on #20
Apparently adblockplus has easy privacy turned off by default. That's the list we are on. I figured it's a much smaller percentage who use that? Also seems like the proxy is the only solution, but that is more inconvenient for people to set up.

[2015-07-24 08:33] psquickitjayant commented on #3
@bradschafer  Seems this to be fixed in the latest update.

[2015-07-24 08:34] psquickitjayant commented on #2
@omouse  added support for tags in the latest update.

[2015-07-27 13:50] dandv commented on #24
Here's what I mean by a stack trace:

![image](https://cloud.githubusercontent.com/assets/33569/8907566/b6ba2c9e-342b-11e5-9273-caeb712ffaaa.png)

Judging by its description, sendConsoleErrors only seems to log unhandled errors, but there is no mention of stack traces on the client at https://www.loggly.com/docs/javascript/.

[2015-07-27 16:39] psquickitjayant commented on #24
@dandv  are you talking about catched errors?

[2015-07-28 00:08] mostlyjason commented on #23
@psquickitjayant can you close the issue when it's complete? I think this might require a code change

[2015-07-28 01:36] dandv commented on #24
I'm looking for a client-side JS error logger for both caught and uncaught errors. Rollbar and {Track:js} seem to do the best job at the so far. See https://github.com/rollbar/rollbar.js/issues/108.

[2015-07-28 05:32] psquickitjayant commented on #23
@mostlyjason  @dandv  I am looking into it.

[2015-07-31 08:36] psquickitjayant commented on #23
@mostlyjason @dandv  added support in #27

[2015-08-03 06:49] ppcano commented on #4
@psquickitjayant, setup the version on the `bower.json` file does NOT work

[code]

As @barlindhaug commented, it could be that you need to git tag your releases.

[2015-08-03 11:16] psquickitjayant commented on #4
@ppcano  You are write, I forgot to do that. I will take care from my next release. I am making few more changes in the library. I will make sure to tag the commit.

[2015-08-04 19:49] #23 closed

[2015-08-04 19:50] #21 closed

[2015-08-04 19:50] mostlyjason commented on #20
Added proxy support in #27 Closing

[2015-08-04 19:50] #20 closed

[2015-08-04 19:50] #3 closed

[2015-08-04 19:51] #2 closed

[2015-08-17 23:48] davidgovea commented on #4
+1 for tagging releases, `"loggly-jslogger": "*"` makes me uneasy.
:+1:

[2015-08-18 10:59] psquickitjayant commented on #4
@mostlyjason  this can be closed as the library is on Bower with versions tagged.

[2015-08-18 13:17] davidgovea commented on #4
@psquickitjayant @mostlyjason I see no versions tagged.

Here is the output from "bower info loggly-jslogger" ... `No versions available.`

[code]

[2015-08-18 13:23] davidgovea commented on #4
From bower's [bower.json docs](http://bower.io/docs/creating-packages/)

**version**
String
Deprecated. **Use git or svn tags instead. This field is ignored by Bower.**

[2015-09-09 19:08] davidgovea commented on #4
ping ping - would love a proper release!

[2015-09-10 03:49] psquickitjayant commented on #4
@davidgovea  I will update today :)

[2015-09-11 10:17] psquickitjayant commented on #4
@davidgovea @ppcano  @sirsgriffin @barlindhaug

Proper release tags are pushed in repo. You can see the versions now with `bower info loggly-jslogger`

[code]

[2015-09-11 10:17] #4 closed

[2015-09-15 10:35] mattlewis92 opened #30 "Publish to npm"
Hi there,

Is there any chance you could publish this to npm as well as bower? You'll just need to update your package.json file to add an extra field like so:
[code]

Change the version to 2.3.0 to match what's on bower, and then run `npm publish`

Thanks!

[2015-09-15 17:31] davidgovea commented on #4
@psquickitjayant thank you!

also, thanks for getting full-on tags implemented recently :+1:

[2015-09-18 18:21] #30 closed

[2015-09-21 16:48] peterwilli opened #33 "400 Bad Request when using NGINX proxy to avoid adblock"
Hi,

I'm currently trying to get loggly js logging working trough my nginx network (see: https://github.com/loggly/loggly-jslogger#setup-proxy-for-ad-blockers). Somehow it does not work and always gives me '400 Bad Request'-errors.

I'm using the config file in the example as-is (no changes made) and the API request works just fine if I remove my own domain name from the url and replace it by: `ht

[2015-09-23 10:35] peterwilli commented on #33
***UPDATE***
Figured it out! After some time of debugging, Apparently Loggly doesnt like cloudflare headers. I changes my config to this and everything is fine now:

[code]

[2015-09-23 10:35] #33 closed

[2015-11-18 19:35] mostlyjason commented on #33
@peterwilli FYI we recently added a new component which should process these events with the CF headers. If you need them try adding them back in when ready.

[2016-02-15 16:24] johanbrook opened #36 "Browser is requesting source map, which doesn't exist on the CDN"
Hi there. We're loading the Loggly JS client async from your site, like this:

[code]

The minified version will generate a sourcemap URL line at the bottom:

[code]

which makes the browser request `http://cloudfront.loggly.com/js/loggly.tracker.min.map`, which doesn't exist. This produces an ugly 404 error in the JS console in browsers ...

***

Can you either put a source map file at http://clo

[2016-02-29 10:40] growak commented on #36
+1

[2016-03-08 19:38] janderson-beapro commented on #36
:+1:

[2016-03-08 19:44] nporter-pa commented on #36
+1

[2016-04-01 00:06] psypersky opened #39 "Could you add this to npm for using with webpack more easily?"

[2016-04-14 17:00] kittrCZ commented on #36
+ 1

[2016-05-11 18:35] mostlyjason commented on #36
Thanks guys we'll try to get this updated in one of our upcoming deployments

[2016-05-11 18:36] mostlyjason commented on #39
Looks like someone has? https://www.npmjs.com/package/loggly-jslogger

[2016-05-11 18:36] #39 closed

[2016-05-23 19:34] rlancer commented on #36
+1

[2016-06-03 13:42] craigfurlong commented on #36
+1

[2016-06-14 12:01] stefy commented on #36
+1

[2016-08-01 16:52] mostlyjason commented on #36
This has been fixed in #40

[2016-08-01 16:52] #36 closed

[2016-08-03 01:14] builtbylane opened #42 "bower and npm versions of this script are mismatched"
Is there a reason for this?

[2016-09-29 03:25] andrewmclagan commented on #24
yeah the current functionality leaves allot to be desired

[2016-10-26 21:27] johanbrook commented on #36
It appears to still persist for us. See https://cloudfront.loggly.com/js/loggly.tracker.min.map : it's a 404. The JS file in question, https://cloudfront.loggly.com/js/loggly.tracker.min.js, specifies

[code]

at the bottom.

[2016-11-22 17:54] mostlyjason commented on #36
@johanbrook you should include the latest version number in your URL. We have kept this old one for legacy reasons but we encourage people to use the version numbers going forward so that people can control when they upgrade http://cloudfront.loggly.com/js/loggly.tracker-2.1.min.js

[2016-11-22 18:00] johanbrook commented on #36
Oh, good to know. Thanks!

[2017-01-24 13:57] marcelodeveloper commented on #22
@dandv you can add a crossorigin attribute in <src> tag, You'll be to be able to gets the exception.

[2017-01-24 14:14] marcelodeveloper commented on #24
I have a question, for example. I have a minified js file, it's impossible to gets a real error, for this problem I need generate a source maps file. How the Loggy works with it? @varshneyjayant

[2017-01-25 20:38] varshneyjayant commented on #24
@marcelodeveloper  Loggly has source map for loggly-jslogger
https://github.com/loggly/loggly-jslogger/blob/master/src/loggly.tracker-2.1.min.map

[2017-02-01 19:12] marcelodeveloper commented on #24
Sorry, I think that I didn't explain myself correctly. I have an app built using requirejs and I am generating the source map files for each one. My problem is that when I send to loggly the error exception I can't see the not-compiled version in the dashboard. Is it possible to see the non-compiled version instead of the compiled version in Loggly? Maybe there is a way to say Loggly to use the so

[2017-07-17 14:31] apackin commented on #24
We were experiencing the same issue as described by @marcelodeveloper .
We're using something similar to what is PRed above if you're interested @varshneyjayant

[2017-07-17 14:54] fastfrwrd commented on #24
For reference, this article on Sentry's blog thoroughly covers the implementation details to get a cross-browser stack trace. It's not trivial - you need to to invasively augment methods like `setTimeout` and `addEventListener`.

[2017-07-17 15:09] varshneyjayant commented on #24
@mostlyjason @Shwetajain148

[2017-07-17 17:27] mostlyjason commented on #24
Thanks for the link! We will review this next time we do an update of the JavaScript library, but there are a few other projects ahead of this one in the queue.

[2017-11-20 15:39] kc1116 opened #52 "Disable logging when page is loaded by webcrawler"
Is there a way that I can disable my loggly logger whenever a webpage is loaded by a web crawler ? I have a Javascript Lib that logs using loggly. It is installed on some client sites, when their sites get loaded by a webcrawler some "errors" happen and force loggly to log a bunch of false positives. How can I handle this ?

[2017-11-20 20:57] mostlyjason commented on #52
Have you considered only loading the Loggly logger when the user agent is not the web crawler? You'll have to look at the logs to see what the user agent of the web crawler is in order to exclude it. This is something you can do on your end and doesn't necessarily need to be in the library. Some people may want to know about errors when a crawler runs but if you don't you could add code to prevent

[2017-11-20 21:44] kc1116 commented on #52
Thanks for the response, does loggly capture the userAgent by default or is that something I should send with events ?

[2017-11-20 21:44] #52 closed

[2017-11-21 01:31] mostlyjason commented on #52
I don't think so, you should send it. We usually capture it with access logs, such as coming from a web, application or proxy server.

[2018-01-05 19:07] ccorcos opened #53 "How to await message successfully sent?"

[2018-01-05 20:08] mostlyjason commented on #53
Would #45 offer what you need?

[2018-01-06 19:57] ccorcos commented on #53
Yeah that would work. Although this library could definitely use some retry
logic...
On Fri, Jan 5, 2018 at 12:08 Jason Skowronski <notifications@github.com>
wrote:

[2019-01-17 12:45] SegersIan commented on #33
I'am still facing issues with CloudFlare headers. So seems it's not entirely fixed ? 🤔

[2019-01-17 12:58] Katulus commented on #33
@SegersIan Can you provide more information? This issue is closed for over 3 years. Is your scenario the same as in initial post? Are you using NGINX proxy? Can you provide your configuration, what you send and what you receive?

[2019-01-22 13:01] SegersIan commented on #33
@Katulus Sorry, didn't saw your response. My issuer is not NGIX specific, but I noticed that the following header from cloudflare seems to throw a `400` :
[code]
I discovered this by first logging to some service like request bin, and then repeating the same request to the loggly API.
**This means it's not an NGIX* issue, where should I consider opening this issue?

[2019-01-22 13:42] Katulus commented on #33
@SegersIan Thanks for the info. It looks that our endpoint has issues with `{,} and "` in the header value. We need to investigate it a bit more. Your support case was moved to our backlog for further investigation. I can't give you any timeline though.

[2019-01-29 21:44] Katulus commented on #33
@SegersIan , this should be now fixed. `cf-visitor` header won't break things anymore. Can you give it a try?

[2020-06-03 18:53] johnfrancisgit opened #59 "Support for levels"
Is there support for levels such as info, warn, error etc?
If so, It's missing from the documentation

[2020-06-03 18:58] Katulus commented on #59
Hello @johnfrancisgit,
`loggly-jslogger` is more of a "transport" than a full logging framework. It does not care what you send. You can send for example `{"level":"INFO","message":"my log message"}` and Loggly will parse `level` and `message` out of it and lets you search for them. You can create own wrapper functions `logInfo()`, `logWarn()` etc. and tweak the format according to your needs.

[2020-12-18 11:18] anurag55555 opened #60 "Could not find a declaration file for module 'loggly-jslogger'"
I have been trying to send my logs to Loggly using loggly-jslogger, but I am unable to do so.
I installed the package using npm-- 'npm i loggly-jslogger'.

I created the logger as shown :

    import { LogglyTracker } from 'loggly-jslogger';

    const logger = new LogglyTracker();

    logger.push({ 'logglyKey': 'MY_CUSTOMER_TOKEN' });

    export default logger;

but the error due to very first

[2020-12-30 17:20] kevineaton commented on #60
That is a general error for any library in a Typescript environment that does not come with a type declaration file. I haven't seen one for this library (just started trying it out today) so I had to add a generic module declaration in my app. This isn't strictly a loggly error, as you will see that message for any untyped-library. Loggly could fix it by providing a type declaration, but in the me

[2020-12-31 04:47] anurag55555 commented on #60
Thank you that solved my issue.

[2020-12-31 04:47] #60 closed

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #61 "CVE-2019-1010266 (Medium) detected in lodash-3.10.1.tgz, lodash-4.3.0.tgz"
## CVE-2019-1010266 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>lodash-3.10.1.tgz</b>, <b>lodash-4.3.0.tgz</b></p></summary>
<p>

<details><summary><b>lodash-3.10.1.tgz</b></p></summary>

<p>The modern build of lodash modular utilities.</p>
<p>Library home

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #62 "CVE-2019-5484 (High) detected in bower-1.8.0.tgz"
## CVE-2019-5484 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bower-1.8.0.tgz</b></p></summary>

<p>The browser package manager</p>
<p>Library home page: <a href="https://registry.npmjs.org/bower/-/bower-1.8.0.tgz">https://registry.npmjs.org/bower/-/bower-1.8.0.

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #63 "CVE-2020-28282 (High) detected in getobject-0.1.0.tgz"
## CVE-2020-28282 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>getobject-0.1.0.tgz</b></p></summary>

<p>get.and.set.deep.objects.easily = true</p>
<p>Library home page: <a href="https://registry.npmjs.org/getobject/-/getobject-0.1.0.tgz">https://registry.npmjs.

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #64 "CVE-2019-10744 (High) detected in lodash-3.10.1.tgz, lodash-4.3.0.tgz"
## CVE-2019-10744 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>lodash-3.10.1.tgz</b>, <b>lodash-4.3.0.tgz</b></p></summary>
<p>

<details><summary><b>lodash-3.10.1.tgz</b></p></summary>

<p>The modern build of lodash modular utilities.</p>
<p>Library home page

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #65 "WS-2018-0232 (Medium) detected in underscore.string-3.2.3.tgz"
## WS-2018-0232 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>underscore.string-3.2.3.tgz</b></p></summary>

<p>String manipulation extensions for Underscore.js javascript library.</p>
<p>Library home page: <a href="https://registry.npmjs.org/underscore.string/

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #66 "CVE-2012-6708 (Medium) detected in jquery-1.8.1.min.js"
## CVE-2012-6708 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.8.1.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js">https://cdnjs.cl

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #67 "CVE-2020-11023 (Medium) detected in jquery-1.8.1.min.js"
## CVE-2020-11023 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.8.1.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js">https://cdnjs.c

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #68 "CVE-2020-11022 (Medium) detected in jquery-1.8.1.min.js"
## CVE-2020-11022 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.8.1.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js">https://cdnjs.c

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #69 "CVE-2020-7729 (High) detected in grunt-1.0.1.tgz"
## CVE-2020-7729 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>grunt-1.0.1.tgz</b></p></summary>

<p>The JavaScript Task Runner</p>
<p>Library home page: <a href="https://registry.npmjs.org/grunt/-/grunt-1.0.1.tgz">https://registry.npmjs.org/grunt/-/grunt-1.0.1.t

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #70 "WS-2019-0178 (Medium) detected in bower-1.8.0.tgz"
## WS-2019-0178 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bower-1.8.0.tgz</b></p></summary>

<p>The browser package manager</p>
<p>Library home page: <a href="https://registry.npmjs.org/bower/-/bower-1.8.0.tgz">https://registry.npmjs.org/bower/-/bower-1.8.0

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #71 "CVE-2015-9251 (Medium) detected in jquery-1.8.1.min.js"
## CVE-2015-9251 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.8.1.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js">https://cdnjs.cl

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #72 "WS-2019-0063 (High) detected in js-yaml-3.5.5.tgz"
## WS-2019-0063 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>js-yaml-3.5.5.tgz</b></p></summary>

<p>YAML 1.2 parser and serializer</p>
<p>Library home page: <a href="https://registry.npmjs.org/js-yaml/-/js-yaml-3.5.5.tgz">https://registry.npmjs.org/js-yaml/-/js

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #73 "CVE-2020-7656 (Medium) detected in jquery-1.8.1.min.js"
## CVE-2020-7656 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.8.1.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js">https://cdnjs.cl

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #74 "CVE-2020-8203 (High) detected in lodash-3.10.1.tgz, lodash-4.3.0.tgz"
## CVE-2020-8203 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>lodash-3.10.1.tgz</b>, <b>lodash-4.3.0.tgz</b></p></summary>
<p>

<details><summary><b>lodash-3.10.1.tgz</b></p></summary>

<p>The modern build of lodash modular utilities.</p>
<p>Library home page:

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #75 "CVE-2020-7598 (Medium) detected in minimist-1.2.0.tgz"
## CVE-2020-7598 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>minimist-1.2.0.tgz</b></p></summary>

<p>parse argument options</p>
<p>Library home page: <a href="https://registry.npmjs.org/minimist/-/minimist-1.2.0.tgz">https://registry.npmjs.org/minimist/-/min

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #76 "CVE-2018-3721 (Medium) detected in lodash-3.10.1.tgz, lodash-4.3.0.tgz"
## CVE-2018-3721 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>lodash-3.10.1.tgz</b>, <b>lodash-4.3.0.tgz</b></p></summary>
<p>

<details><summary><b>lodash-3.10.1.tgz</b></p></summary>

<p>The modern build of lodash modular utilities.</p>
<p>Library home pag

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #77 "WS-2019-0163 (Medium) detected in bower-1.8.0.tgz"
## WS-2019-0163 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bower-1.8.0.tgz</b></p></summary>

<p>The browser package manager</p>
<p>Library home page: <a href="https://registry.npmjs.org/bower/-/bower-1.8.0.tgz">https://registry.npmjs.org/bower/-/bower-1.8.0

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #78 "CVE-2018-16487 (Medium) detected in lodash-3.10.1.tgz, lodash-4.3.0.tgz"
## CVE-2018-16487 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>lodash-3.10.1.tgz</b>, <b>lodash-4.3.0.tgz</b></p></summary>
<p>

<details><summary><b>lodash-3.10.1.tgz</b></p></summary>

<p>The modern build of lodash modular utilities.</p>
<p>Library home pa

[2021-01-20 08:28] whitesource-for-github-com[bot] opened #79 "WS-2019-0032 (Medium) detected in js-yaml-3.5.5.tgz"
## WS-2019-0032 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>js-yaml-3.5.5.tgz</b></p></summary>

<p>YAML 1.2 parser and serializer</p>
<p>Library home page: <a href="https://registry.npmjs.org/js-yaml/-/js-yaml-3.5.5.tgz">https://registry.npmjs.org/js-yaml/-/

[2021-03-16 09:43] #59 closed

[2021-03-25 08:34] MartinaGold commented on #42
The versions are matching now.

[2021-03-25 08:34] #42 closed

[2021-03-25 09:23] MartinaGold commented on #79
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:23] #79 closed

[2021-03-25 09:24] MartinaGold commented on #78
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:24] #78 closed

[2021-03-25 09:24] MartinaGold commented on #77
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:24] #77 closed

[2021-03-25 09:24] MartinaGold commented on #76
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:24] MartinaGold commented on #76
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:24] #76 closed

[2021-03-25 09:26] MartinaGold commented on #75
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:26] MartinaGold commented on #75
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:26] #75 closed

[2021-03-25 09:27] MartinaGold commented on #74
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:27] #74 closed

[2021-03-25 09:28] MartinaGold commented on #73
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:28] #73 closed

[2021-03-25 09:29] MartinaGold commented on #72
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:29] #72 closed

[2021-03-25 09:30] MartinaGold commented on #70
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:30] #70 closed

[2021-03-25 09:33] MartinaGold commented on #71
False-positive. We don't use jquery.

[2021-03-25 09:33] #71 closed

[2021-03-25 09:34] MartinaGold commented on #68
False-positive. We don't use jquery.

[2021-03-25 09:34] #68 closed

[2021-03-25 09:34] MartinaGold commented on #67
False-positive. We don't use jquery.

[2021-03-25 09:34] #67 closed

[2021-03-25 09:34] MartinaGold commented on #66
False-positive. We don't use jquery.

[2021-03-25 09:34] #66 closed

[2021-03-25 09:36] MartinaGold commented on #63
No fix available, dependency of grunt-legacy-util which might suggest it could just be some backwards compatibility for legacy stuff, npm audit does not report it and since the grunt runs only during build, it should not pose a threat

[2021-03-25 09:36] #63 closed

[2021-03-25 09:39] MartinaGold commented on #69
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:39] #69 closed

[2021-03-25 09:39] MartinaGold commented on #65
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:40] MartinaGold commented on #65
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:40] #65 closed

[2021-03-25 09:40] MartinaGold commented on #64
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:40] #64 closed

[2021-03-25 09:40] MartinaGold commented on #62
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:40] #62 closed

[2021-03-25 09:40] MartinaGold commented on #61
The vulnerability was fixed in this PR https://github.com/loggly/loggly-jslogger/pull/80/files

[2021-03-25 09:40] #61 closed

[2021-03-25 10:12] MartinaGold commented on #53
Thank you for reporting this issue. We are now tracking this issue internally as LOG-12076.

[2021-04-07 14:04] susilm commented on #15
We are not going to implement this feature in the near term, therefore closing the ticket now. But feel free to prepare PR and reopen this ticket.

[2021-04-07 14:04] #15 closed

[2021-04-07 14:05] susilm commented on #22
We are not going to implement this feature in the near term, therefore closing the ticket now. But feel free to prepare PR and reopen this ticket.

[2021-04-07 14:05] #22 closed

[2021-04-07 14:05] susilm commented on #19
We are not going to implement this feature in the near term, therefore closing the ticket now. But feel free to prepare PR and reopen this ticket.

[2021-04-07 14:05] #19 closed

[2021-05-02 14:41] varshneyjayant opened #81 "Any plans to make this library available on npm?"
If yes, I can submit a PR.

[2021-05-03 07:27] michal-bures commented on #81
The library is already available on npm https://www.npmjs.com/package/loggly-jslogger. I can see it would be good to mention that in the README though. Feel free to reopen if it doesn't work for you or if I misunderstood your issue.

[2021-05-03 07:27] #81 closed, assigned to nobody

[2021-08-03 19:34] markreha commented on #24
I have tried multiple browsers and using SolarWinds example simply does not produce any logs on Loggly.

I can see the HTTP request in my browser tools (on Safari, Chrome, and Firefox) all make a successful request and get a 200 response. I have tried both with and without the async attribute.

What is wrong with the following page:

<html lang="en">
<head>
<meta charset="utf-8">
<title>Testapp</t

[2021-08-04 07:14] alestrunda commented on #24
@markreha the setup looks fine, but I do not see any commands to actually send something - what you've got there is just the setup. You can send a log to Loggly by something like `_LTracker.push("my Loggly message")`.

If there still won't be any logs coming (usually takes a few seconds), double-check the key and make sure you're not using any filters in Loggly UI.

If you believe there is an issu

[2021-08-04 14:46] markreha commented on #24
Sorry, I used the API Key and not the APP Key.....

[2021-10-07 00:31] MexicanSparker opened #83 "Setup Proxy in IIS"
Hi, this is more a question than an Issue but I really don't know where to ask this.
How can I translate the proxy configuration to IIS?
So far I have realized that it is a Nginx config type but I am not having any success setting it up in ISS.
Any heads up on this will be appreciated.

[2022-02-24 19:56] cspollar commented on #81
I've [opened a PR](https://github.com/loggly/loggly-jslogger/pull/86) to add a npm link to the README. The clear indicator that the npm package is officially supported would have saved me some time.

[2022-04-14 16:50] mend-for-github-com[bot] opened #87 "CVE-2021-43138 (High) detected in async-1.5.2.tgz"
## CVE-2021-43138 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>async-1.5.2.tgz</b></p></summary>

<p>Higher-order functions and common patterns for asynchronous code</p>
<p>Library home page: <a href="https://registry.npmjs.org/async/-/async-1.5.2.tgz">https://r

[2022-04-14 19:23] mend-for-github-com[bot] opened #88 "CVE-2022-0436 (Medium) detected in grunt-1.3.0.tgz"
## CVE-2022-0436 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>grunt-1.3.0.tgz</b></p></summary>

<p>The JavaScript Task Runner</p>
<p>Library home page: <a href="https://registry.npmjs.org/grunt/-/grunt-1.3.0.tgz">https://registry.npmjs.org/grunt/-/grunt-1.3.0

[2022-05-11 09:28] mend-for-github-com[bot] opened #90 "CVE-2022-1537 (High) detected in grunt-1.3.0.tgz"
## CVE-2022-1537 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>grunt-1.3.0.tgz</b></p></summary>

<p>The JavaScript Task Runner</p>
<p>Library home page: <a href="https://registry.npmjs.org/grunt/-/grunt-1.3.0.tgz">https://registry.npmjs.org/grunt/-/grunt-1.3.0.t

[2022-10-19 02:13] mend-for-github-com[bot] opened #92 "CVE-2022-3517 (High) detected in minimatch-3.0.4.tgz"
## CVE-2022-3517 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>minimatch-3.0.4.tgz</b></p></summary>

<p>a glob matcher in javascript</p>
<p>Library home page: <a href="https://registry.npmjs.org/minimatch/-/minimatch-3.0.4.tgz">https://registry.npmjs.org/minimat

[2022-10-22 19:00] mend-for-github-com[bot] opened #93 "CVE-2022-37598 (High) detected in uglify-js-3.4.10.tgz"
## CVE-2022-37598 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>uglify-js-3.4.10.tgz</b></p></summary>

<p>JavaScript parser, mangler/compressor and beautifier toolkit</p>
<p>Library home page: <a href="https://registry.npmjs.org/uglify-js/-/uglify-js-3.4.10.tgz"